<li class="list-group-item">

	<div
		class="card">
		<div class="card-header d-flex justify-content-between align-items-center">
			<a href="#" class="link-primary text-decoration-none d-flex align-items-center">
				<span class="material-symbols-outlined me-1">
					account_circle
				</span>
				{{ message.user.name }}
			</a>
			<small>
				{{ message.createdAt|date }}
			</small>
		</div>
		<div class="card-body">
			<div>
				{{ message.content }}
			</div>
		</div>
		{% if message.user.signature is not null %}
			<div class="card-footer">
				{{ message.user.signature }}
			</div>
		{% endif %}
	</div>

</li>
