{{ form_start(form) }}

<div class="row mb-1 g-1">
	<div class="col">
		<div class="input-group input-group-sm">
			{{ form_label(form.limit, 'Limit', {'label_attr': {'class': 'input-group-text'}}) }}
			{{ form_widget(form.limit, {'attr': {'class': 'form-control  form-control-sm'}}) }}
		</div>
	</div>
	<div class="col">
		<div class="text-end">
			<button type="submit" class="btn btn-sm btn-primary">Filter</button>
		</div>
	</div>
</div>

{{ form_end(form) }}
