{% extends "base.html.twig" %}

{% block suffixTitle %}Home
{% endblock %}

{% block bodyContent %}
	<main>
		{% include 'components/utils/Breadcrumb.html.twig' with { 'breadcrumbs': breadcrumbs } %}
		{% block mainContent %}{% endblock %}
	</main>
{% endblock %}
