{% extends "base.html.twig" %}

{% block bodyContent %}
	<header></header>
	<main>
		<div class="container">
			{% block mainContent %}{% endblock %}
		</div>
	</main>
	<footer></footer>
{% endblock %}
