<button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false">
	<i class="material-symbols-outlined" style="font-size: 0.875rem;">filter_alt</i>
</button>
<div class="collapse" id="collapseFilters">
	<p>Hello world !</p>
</div>
