<ul class="pagination pagination-sm justify-content-end mb-0">
	{% for page in this.getPages() %}
		{% if page.type == 'separator' %}
			<li class="page-item">
				<button class="page-link disabled" type="button">{{ page.label }}</button>
			</li>
		{% else %}
			<li class="page-item {{ page.active ? 'active' : '' }}">
				<a class="page-link" href="{{ page.url }}">{{ page.label }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
