<ul class="pagination pagination-sm justify-content-end mb-0">
	{% for page in this.getPages() %}
		<li class="page-item {{ page.active ? 'active' : '' }}">
			<a class="page-link" href="{{ path('app_subject_list', {'offset': page.offset }) }}">{{ page.num }}</a>
		</li>
	{% endfor %}
</ul>
